Source: gsettings-qt
Priority: extra
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               pkg-config,
               libglib2.0-dev,
               qtchooser,
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qml-module-qttest,
               qml-module-qtquick2,
               xvfb,
Standards-Version: 3.9.4
Section: libs
Homepage: https://launchpad.net/gsettings-qt
# If you aren't a member of ~system-settings-touch but need to upload packaging 
# changes, just go ahead. A member of ~system-settings-touch will notice and 
# sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~system-settings-touch/gsettings-qt/trunk

Package: qtdeclarative5-gsettings1.0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libgsettings-qt1 (= ${binary:Version}),
Description: QML Bindings for GSettings
 Expose QML bindings for GSettings
 
Package: libgsettings-qt1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Library to access GSettings from Qt
 Library to access GSettings from Qt

Package: libgsettings-qt-dev
Section: libdevel
Architecture: any
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends},
         libgsettings-qt1 (= ${binary:Version}),
Description: Library to access GSettings from Qt - devel
 Library to access GSettings from Qt
 .
 This package contains the development files needed to build applications using
 the GSettings Qt library
