#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export QT_SELECT=qt5

override_dh_install:
	rm -rf debian/*/usr/tests
	dh_install --fail-missing

override_dh_auto_test:
	xvfb-run -a dh_auto_test

override_dh_makeshlibs:
	dh_makeshlibs -- -c4

%:
	dh $@ 
